body{
	background-color: white;
}
article {
	background-color: #ccc;
	box-shadow: 1px 1px 13px 3px black;
    padding: 15px;
    
	width: 700px;
	margin: 5% 23%;
}

.container {
	position: relative;
	width: 75px;
	display: inline-block;
	margin: 10px;

}


.image{
	display: block;
	width: 75px;
	height: auto;
	transition-property: all;
	transition-duration: .7s;
	transition-direction: linear;
}

.overlay{
	position: absolute;
	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
	width: 75px;
	height: auto;
	transition-property: all;
	transition-duration: .7s;
	transition-direction: linear;
	opacity: 0;
	background-color: #ccc;

}

.container:hover .overlay{
	opacity: .5;
	border-radius: 50%;
}

.container:hover .image{
	border-radius: 50%;
}

.container:hover .texto{
	opacity: 1;
	
}



.texto{
	color: white;
	opacity: 0;
	text-shadow: 2px 2px 2px black;
  	font-size: 16px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
  	font-family: verdana;
  	transition-property: all;
	transition-duration: .7s;
	transition-direction: linear;

	
}




